/* Add CSS Styling */
.odd {
  font-family: "Verdana", "DejaVu Sans", sans-serif;
  background-color: rgb(255, 143, 143);
}

.odd.third {
  font-size: 24px;
}

#even-second {
  color: rgb(27, 0, 233);
  font-size: 36px;
}

#even-four {
  background-color: rgb(153, 255, 180);
  font-size: 24px;
  font-weight: bold;
}
